.btn {
  margin-top: 1.5vw;
}

img {
  display: block;
  max-height: 500px;
  max-width: 500px;
  height: auto;
  width: auto;
}

#merry-go-round {
  display: none;
  text-align: center;
}

#roller-coaster {
  display: none;
}

#extreme-coaster {
  display: none;
}
